body {
	background-image: url(background.jpg);
	overflow:hidden;
}

#cont /*div*/ {
	position: absolute;
	left:50%;
	width:  350px;
	margin-left: -175px;
	top: 20%;
	text-align: center;
}

@font-face /*font title*/ {
    font-family: 'tertre'; /*a name to be used later*/
    src: url('tertre-xbol.otf'); /*URL to font*/
}

#title /*h1 */{
	color: white;
	font-family: "tertre";
	font-size: 100px;
	font-weight: bold;
	margin: 0px;

}

#descr /*h3*/ {
	color: white;
	font-family: arial;
	font-size: 18px;
	margin: 15px;
	font-weight: normal;

}

.inputext /*input text*/ {
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	padding: 13px;	
	padding-right: 37px; 
	font-size : 15px;
	margin-top:  1px;
	margin-bottom: 1px;
	margin-left: 0px;

}

#login /*button*/ {
    background-color: #66AFE3 ;
	padding:13px;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 3px;
	border: 0px ;
	border-radius: 2px;
	font: bold 15px arial;
	color: white;
}


#hdivlink /*div con links abajo de btn login*/{
	margin-top: 15px;
}

.linkhom /*text*/ {
	color: white;
	font: 15px arial;
}

.linkhom:hover {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;

}

#about /*info*/ {
	position:fixed;
	left: 1%;
	top: 95%;
}

#about a/*info text*/ {
	text-decoration: none;
	margin: 5px;
}

#up /*div arriba*/ 	{
	position: absolute;
	width: 20%;
	height: 30px;
	left: 90%;
	top: 1%;
}

#signup /*boton sign up*/{	
	background-color: #66AFE3 ;
	border: 0px ;
	border-radius: 2px;
	font: bold 15px arial;
	color: white;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

#alertlog {
	 background-color: white;
	 width: 500px;
	 height: 500px;
	 position: absolute;
	 left: 30%;
	 top: 15%;
	 opacity: 0.99;
	 color: black;
	 font-family: arial;
	 font-size: 15px;
	 text-align: center;
	 
}

.alertinput /*imputs en el alert del signup*/ {
	font-size: 15px;
	font-family: arial;
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	padding: 10px;	
	padding-right: 55px; 
	
}

.alertdiv /*divs em el alert sign up*/ {
	margin: 15px;
}

#btnsalert /*btn en alert de registro*/ {
	background-color: #66AFE3 ;
	padding:13px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 5px;
	border: 0px ;
	border-radius: 2px;
	font: bold 15px arial;
	color: white;
}

#alertitle {
	color: black;
	font-family: "tertre";
	font-size: 60px;
	font-weight: bold;
	margin: 0px;
}

.btnclick:onclick {
	background-color: black;
}

#uStatus {

	position: absolute;
	top: 53.5%;
	left: 75%;
}

#eStatus {

	position: absolute;
	top: 65.5%;
	left: 75%;
}