body {
	background-color: #356CAB;  
}

/*#navbar {
	float: right;
	position: absolute;
	width: 20%;
	height: 100%;
	top: 0%;
	left: 80%;
	background-color: white;
	font-family: arial;
	font-size: 18px;
	text-align: center;
}*/
#navbar {
	position: absolute;
	width: 100%;
	height: 5%;
	top: 0%;
	left: 20%;
	
}

ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;


}



.bar {
	float: left;
	display: inline;
}
.nav {
	top: 0%;
	display: block;
    width: 200px;
    height: 100%;  
    text-decoration: none;
    font-family: arial;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border: 0.5px solid;
    padding-top: 5%;
    background-color: white;

   

}  

@font-face /*font title*/ {
    font-family: 'tertre'; /*a name to be used later*/
    src: url('tertre-xbol.otf'); /*URL to font*/
}

#logo {
	font-family: "tertre";
	font-size: 20px;
	font-weight: bold;
	

}


/*.nav {
	display: block;
	letter-spacing: 2px;
	text-decoration: none;
	line-height: 50px;
    text-transform: uppercase;
    color: #B8B8B8;
    
}
.nav:hover {color: black;}

.nav:active {color: #5B89BD;}


ul {list-style-type: none;}
*/
